* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .25s ease;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: #1F1F1F;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1F1F1F;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242729;
}

.app-container {
    width: 100%;
    height: 100vh;
    background: #242729;
    padding: 0;
    display: flex;
    overflow: hidden;
    position: absolute;
}

.container-sidebar {
    width: 230px;
    height: 100vh;
    background: #282b2e;
    padding: 0;
    border-right: 1px solid #141517;
    display: block;
    position: absolute;
}

.container-sidebar.active {
    margin-left: -230px;
}

.treeview {
    width: 100%;
    height: 100vh;
    background: transparent;
    padding: 10px;
    display: block;
    list-style: none;
    overflow: overlay;
    position: relative;
}

.treeview li {
    padding-bottom: 10px;
}

.treeview .treeview-header {
    width: 100%;
    height: 20px;
    background: transparent;
    padding: 0;
    display: flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
}

.treeview .treeview-header button.bx {
    width: 20px;
    height: 20px;
    background: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    color: #a0a0a0;
    font-size: 14px;
    cursor: pointer;
    pointer-events: none;
    position: relative;
}

.treeview .treeview-header span {
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    padding-top: 3px;
    color: #a0a0a0;
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.64px;
    pointer-events: none;
    position: relative;
    margin-left: 5px;
}

.treeview .treeview-header button.bx:last-child {
    position: absolute;
    right: 0;
}

.treeview .treeview-header:hover button,
.treeview .treeview-header:hover span,
.treeview .treeview-header.header-active button,
.treeview .treeview-header.header-active span {
    color: #d7dae0;
}

.treeview .treeview-nested {
    width: calc(100% - 9px);
    height: auto;
    background: transparent;
    padding: 0;
    padding-top: 2.5px;
    padding-left: 5px;
    display: none;
    border-left: 1px solid rgba(20, 21, 23, 0);
    list-style: none;
    overflow: hidden;
    position: relative;
    margin-left: 9px;
}

.treeview .treeview-nested.nested-active {
    display: block;
}

.treeview .treeview-nested li {
    padding-bottom: 5px;
}

.treeview .treeview-nested li .treeview-header span {
    font-size: 12px;
}

.container-main {
    width: calc(100% - 230px);
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    margin-left: 230px;
}

@media not screen and (min-width: 769px) {
    .container-main {
        width: 100%;
    }
}

.container-main.active {
    width: 100%;
    margin-left: 0;
}

.container-main .main-menu {
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 10px;
    display: flex;
    position: absolute;
}

.container-main .main-menu .bx-menu {
    width: 30px;
    height: 30px;
    background: transparent;
    padding: 0;
    outline: 0;
    border: 0;
    color: #a0a0a0;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.container-main .main-menu .bx-menu.active,
.container-main .main-menu .bx-menu:hover {
    color: #d7dae0;
}

.container-main .main-main {
    width: 100%;
    height: auto;
    max-width: 768px;
    background: transparent;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    margin-top: 50px;
}

.container-main .main-main .main-header {
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    color: #A0A0A0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.container-main .main-main .main-separator {
    width: auto;
    height: 1px;
    background: #141517;
    position: relative;
    margin-top: 10px;
}

.container-main .main-main .main-docs {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px;
    padding-top: 0;
    display: block;
    overflow: visible;
    list-style: none;
    position: relative;
}

.container-main .main-main .main-docs li {
    width: 100%;
    height: auto;
    background: transparent;
    padding: 20px;
    border-bottom: 1px solid #141517;
    display: block;
    overflow: hidden;
    position: relative;
}

.container-main .main-main .main-docs li:last-child {
    border-bottom: 0;
}

.container-main .main-main .main-docs li .docs-header {
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    color: #a0a0a0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.container-main .main-main .main-docs li .docs-code {
    width: 100%;
    height: auto;
    min-height: 30px;
    background: #282b2e;
    padding: 5px;
    border: 1px solid #141517;
    border-radius: 5px;
    color: #abb2bf;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-main .main-main .main-docs li .docs-detail {
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    color: #a0a0a0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.container-main .main-main .main-docs li table {
    width: 100%;
    padding: 5px;
}

.container-main .main-main .main-docs li th {
    background: #1e1e1e;
    color: #5c6370;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.64px;
    padding: 5px;
}

.container-main .main-main .main-docs li td {
    background: #282b2e;
    color: #a0a0a0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.64px;
    padding: 5px;
}

.code-comment {
    color: #5c6370;
    font-style: italic;
}

.code-keyword {
    color: #c678dd;
}

.code-type {
    color: #56b6c2;
}

.code-builtin {
    color: #e6c07b;
}

.code-title {
    color: #61aeee;
}

.code-string {
    color: #98c379;
}

.code-number {
    color: #d19a66;
}   